<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Patria</title>
    <!-- Utilizando Bootstrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Utilizando Bootstrap 4.5.2 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Color de fondo */
            font-family: Arial, sans-serif; /* Cambiar la fuente del cuerpo del texto */
        }
        .header {
            background-color: #007bff; /* Color del header */
            padding: 20px;
            display: flex;
            align-items: center; /* Centrar verticalmente */
            justify-content: center; /* Centrar horizontalmente */
        }
        .header img {
            max-width: 150px; /* Ajustar el tamaño máximo de la imagen */
            height: auto;
            margin-right: 10px; /* Espacio entre la imagen y el texto */
        }
        .header h1 {
            margin: 0; /* Eliminar el margen del título h1 */
            color: #fff; /* Color del texto */
        }
        section {
            padding: 20px;
        }
    </style>
</head>

<body class="container">
    <div class="header text-white">
        <img src="https://lh3.googleusercontent.com/proxy/K895GniDDw9O_OWY2CWGNR0vGW3QF9HECcO8yNIb0FCUtXQ_lGCOu_IQZHTRq02rquK1S__mfscw4eX84d6Ik4k-UBHL" alt="Logo Colegio Patria">
        <h1>Colegio Patria</h1>
    </div>
</body>
</html>
