<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="formulario" action="/salida" method="post">
                    <div class="mb-3">
                        <label for="numDocente" class="form-label">Numero de Docente</label>
                        <input type="text" class="form-control" id="numDocente" name="numDocente" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="domicilio" class="form-label">Domicilio</label>
                        <input type="text" class="form-control" id="domicilio" name="domicilio" required>
                    </div>
                    <div class="mb-3">
                        <label for="nivel" class="form-label">Seleccione el Nivel</label>
                        <select id="nivel" class="form-select" name="nivel" required>
                            <option value="">Seleccione el Nivel</option>
                            <option value="1">1.- Licenciatura o Ingeniería</option>
                            <option value="2">1.- Maestro en Ciencias</option>
                            <option value="3">3.- Doctor</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="horas" class="form-label">Horas Impartidas</label>
                        <input type="number" id="horas" class="form-control" name="horas" required>
                    </div>

                    <div class="mb-3">
                        <label for="pagoBase" class="form-label">Pago Hora Base</label>
                        <input type="number" id="pagoBase" class="form-control" name="pagoBase" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="numHijos" class="form-label">Numero de Hijos</label>
                        <select id="numHijos" class="form-select" name="numHijos" required>
                            <option value="">Numero de Hijos</option>
                            <option value="1">1 o 2</option>
                            <option value="2">3 a 5</option>
                            <option value="3">6 o más</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mr-2">Calcular</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<%-include('partials/footer.ejs')%>
</body>
</html>
