<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nombre" class="form-label"><strong>Nombre:</strong></label>
                    <input type="text" class="form-control" id="nombre" value="<%= nombre %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="pagoBase" class="form-label"><strong>Pago por Hora Base:</strong></label>
                    <input type="text" class="form-control" id="pagoBase" value="<%= pagoBase %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="pagoBono" class="form-label"><strong>Pago por Bono:</strong></label>
                    <input type="text" class="form-control" id="pagoBono" value="<%= pagoBono %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="impuesto" class="form-label"><strong>Impuesto:</strong></label>
                    <input type="text" class="form-control" id="impuesto" value="<%= impuesto %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="total" class="form-label"><strong>Total:</strong></label>
                    <input type="text" class="form-control" id="total" value="<%= total %>" readonly>
                </div>
                <!-- Botón Volver -->
                <a href="/" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</section>
<%-include('partials/footer.ejs')%>
</body>
</html>
